body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 167, 167);

  .range {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-weight: bold;
    }

    input {
      cursor: pointer;
    }
  }

  .showHideButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    height: 20px;
    width: 130px;
  }

  .launch {
    position: absolute;
    top: 120px;
    right: 20px;
    cursor: pointer;
    height: 30px;
    width: 130px;
  }

  .matrice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 98vh;
    width: 98vw;

    li {
      display: flex;
      justify-content: space-between;
      height: 8px;
      width: 100%;
      border-left: 2px solid black;
      border-right: 2px solid black;

      &:nth-child(1) {
        border-top: 2px solid black;
      }

      &:nth-last-child(1) {
        border-bottom: 2px solid black;
      }

      .number {
        width: 8px;
        color: rgb(167, 167, 167);
        border: 1px solid black;
        overflow: hidden;
        cursor: pointer;

        &.black {
          color: black;
          background-color: black;
        }

        &.active {
          color: red;
          background-color: red;

          &:hover {
            color: red;
            background-color: red;
          }
        }

        &.hide {
          border-color: rgb(167, 167, 167);
        }

        &:hover {
          color: pink;
          background-color: pink;
        }
      }
    }
  }
}