body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 167, 167);

  .coordinates {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    font-weight: bold;
    color: black;
    border: 2px solid black;
  }

  .launch {
    position: absolute;
    top: 100px;
    cursor: pointer;
  }

  .matrice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 98vh;
    width: 98vw;

    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-left: 2px solid black;
      border-right: 2px solid black;

      &:nth-child(1) {
        border-top: 2px solid black;
      }

      &:nth-last-child(1) {
        border-bottom: 2px solid black;
      }

      .number {
        color: rgb(167, 167, 167);
        border: 1px solid black;
        overflow: hidden;
        cursor: pointer;

        &.black {
          color: black;
          background-color: black;
        }

        &.active {
          color: red;
          background-color: red;

          &:hover {
            color: red;
            background-color: red;
          }
        }

        &:hover {
          color: pink;
          background-color: pink;
        }
      }
    }
  }
}